* text=auto

*.rs text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ron text eol=lf
*.sql text eol=lf
*.json text eol=lf
*.py text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.ogg binary
*.blend binary
